{% extends "auth_base.html" %}
{% load forms %}

{% block title %}Obnova hesla - {{ block.super }}{% endblock %}

{% block content %}
    <h2 class="mb-6 text-center text-2xl font-bold tracking-tight text-gray-900">
        Obnova zabudnutého hesla
    </h2>

    <form class="space-y-6" method="POST">
        <p class="text-gray-600 text-sm">
            Na tvoj e-mail ti pošleme pokyny k obnove hesla.
        </p>
        {% csrf_token %}
        {% form form %}

        <div>
            <button type="submit" class="btn btn-blue">Obnoviť heslo</button>
        </div>
    </form>
{% endblock %}
