{% extends "settings_base.html" %}
{% load forms %}

{% block title %}Zmena hesla - {{ block.super }}{% endblock %}

{% block content %}
    <div class="mx-auto max-w-2xl">
        <h2 class="text-xl font-bold text-gray-900">Zmena hesla</h2>

        <form method="post" class="mt-6 space-y-6">
            {% csrf_token %}
            {% form form %}
            <div>
                <button class="btn btn-blue" type="submit">Zmeniť heslo</button>
            </div>
            <div class="text-sm text-center">
                <a href="{% url "account_reset_password" %}" class="font-semibold link">Zabudnuté heslo?</a>
            </div>
        </form>
    </div>
{% endblock content %}
