{% load settings %}
{% load static %}
<div class="flex py-5 shrink-0 items-center justify-center bg-trojsten -mx-6">
    <img class="h-12 w-auto" src="{% static "logo.svg" %}" alt="Trojsten">
</div>
<nav class="flex flex-1 flex-col">
    <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <li>
            <ul role="list" class="-mx-2 space-y-1">
                {% navbar_menu %}
{#                <li>#}
{#                    <!-- Current: "bg-gray-800 text-white", Default: "text-gray-400 hover:text-white hover:bg-gray-800" -->#}
{#                    <a href="#"#}
{#                       class="bg-gray-800 text-white group flex gap-x-2 rounded-md p-2 text-sm leading-6 font-bold">#}
{#                        <iconify-icon icon="mdi:home" height="24"></iconify-icon>#}
{#                        Dashboard#}
{#                    </a>#}
{#                </li>#}
            </ul>
        </li>
        <li class="-mx-6 mt-auto">
            <a href="#"
               class="flex items-center gap-x-4 px-6 py-3 text-white w-full hover:bg-gray-800">
                <img class="h-8 w-8 rounded-full bg-gray-800" src="{{ user.avatar }}" alt="{{ user.get_full_name }}">
                <div>
                    <p class="text-sm font-semibold">{{ user.get_full_name }}</p>
                    <p class="text-xs text-gray-500">{{ user.username }}</p>
                </div>
                <form action="{% url "account_logout" %}" method="post" class="ml-auto">
                    {% csrf_token %}
                    <button type="submit" class="text-red-600 p-1.5 hover:bg-red-700 hover:text-white inline-flex rounded">
                        <iconify-icon icon="mdi:logout" height="24"></iconify-icon>
                    </button>
                </form>
            </a>
        </li>
    </ul>
</nav>
